{% load wagtailcore_tags %}
<div class="main-content__cta">
    <a href="{% include_block value.button_link %}" class="main-content__cta__button__wrapper">
      <button class="main-content__cta__button">{{ value.button_text }}</button>
    </a>
</div>