{% load i18n %}


<script>

don_div_ID++;
var don_ID=1;
var don_URL_ID=1;

if(isScriptDefined(loadIFrame)) { //add to the loadIFrame function for the new block
  loadIFrame = (function() {
    var cached_function = loadIFrame;
    return function() {
      donateIFrame();
      var result = cached_function.apply(this, arguments); // use .apply() to call it
      return result;
    };
})();
}
else {
  function loadIFrame(){
    donateIFrame();
  }
}

function donateIFrame(){
  don_ID++;
  var frame = document.createElement("iframe");
  frame.src="https://www.gofundme.com/f/59dv3/widget/medium/"; frame.width="480"; frame.height="180"; frame.frameBorder="0"; frame.marginHeight="0"; frame.marginWidth="0";
  frame.append('{% trans "Loading..." %}')
  var element = document.getElementById("don_iframe_div" + don_ID.toString(10));
  element.innerHTML="";
  element.appendChild(frame);
  }


</script>

<div id="changeid" style="padding-top:40px;">

  <div class="main-content__cta">
    <a class="main-content__cta__button__wrapper" href="https://www.gofundme.com/f/59dv3/">
      <button class="main-content__cta__button">{% trans "Donate" %} via GoFundMe </button>
    </a>
  </div>

</div>

<script>
  //assign a unique id to each div
  var uniqueid = "don_iframe_div" + don_div_ID.toString(10);
  var div = document.getElementById("changeid");
  div.setAttribute("id", uniqueid);
</script>
