{% load i18n %}


  <script>

emb_div_ID++;
var emb_ID=1;
var emb_URL_ID=1;
emb_ID = emb_div_ID;
emb_URL_ID = emb_div_ID;
if(isScriptDefined(loadIFrame)) { //add to the loadIFrame function for the new block
  loadIFrame = (function() {
    var cached_function = loadIFrame;
    return function() {
      resourceIFrame();
      var result = cached_function.apply(this, arguments); // use .apply() to call it
      return result;
    };
})();
}
else {
  function loadIFrame(){
    resourceIFrame()
  }
}

function resourceIFrame(){
var frame = document.createElement("iframe");
    frame.src="{{ self.embedded_resource_link|safe }}"; frame.width="640"; frame.height="{{ self.height }}"; frame.frameBorder="0"; frame.marginHeight="0"; frame.marginWidth="0";
    frame.append('{% trans "Loading..." %}')
    var element = document.getElementById("emb_iframe_div" + emb_ID.toString(10));
    element.innerHTML="";
    element.appendChild(frame);
    emb_ID--;
}

</script>

<div id="changeid">
  <div class="main-content__cta">
    <a class="main-content__cta__button__wrapper" href="{{ self.direct_resource_link }}">
      <button class="main-content__cta__button">{{ self.button_name }}<br/> {{ self.source_of_resource }} </button>
    </a>
  </div>
</div>
<script>
  //assign a unique id to each div
  var uniqueid = "emb_iframe_div" + emb_div_ID.toString(10);
  var div = document.getElementById("changeid");
  div.setAttribute("id", uniqueid);
</script>