{% load i18n %}

<h3>{% trans "Featured Organizations" %} </h3>
<div class="supporting-orgs">
  {% for featured in featured_organizations %}
  {% include "blocks/org_logo_link.html" with org=featured %}
  {% endfor %}

  <div class="supporting-org">
      <a href="/{{ LANGUAGE_CODE }}/organizations/" target="_blank">
        <i class="fa fa-handshake-o fa-5x supporting-org__icon" aria-hidden="true"></i>
        <p class="supporting-org__name">
         {% trans "View All Supporting Organizations" %}
        </p>
      </a>
  </div>
</div>
