{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load thumbnail %}

<h2>{% trans "Featured Signatories" %} </h2>
<div class="about__signatory">
    {% for sig in self.featured_signatories %}


    <div class="featured__signature__box">
        {% if sig.image %}
        <div class="signatory-image">{% image sig.image fill-200x200 class="featured__signature__image" %}</div>
        {% endif %}

        <div class="about__signatory__text">
            <h4> {{ sig.signatory_name }}{% if sig.signatory_descriptor %}, <em>{{sig.signatory_descriptor}}</em> {% endif %}
            </h4>
            {% if sig.signatory_quote %}
                <blockquote>
                    {% if sig.signatory_quote_source %} <a href="{{sig.signatory_quote_source}}"> {% endif %}
                    {{sig.signatory_quote}}
                    {% if sig.signatory_quote_source %} &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i></a> {% endif %}
                </blockquote>
            {% endif %}
        </div>
    </div>

    {% endfor %}

</div>


