{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load thumbnail %}

<span id="supporting-orgs"></span>
<h2>{% trans "Supporting Organizations" %}</h2>

<div class="supporting-orgs">
  {% for org in organizations_other %}
  {% include "blocks/org_logo_link.html" with org=org %}
  {% endfor %}
</div>

{% if organizations_activist.all %}
<h3>{% trans "Activist groups" %} </h3>
<div class="supporting-orgs">
  {% for org in organizations_activist %}
  {% include "blocks/org_logo_link.html" with org=org %}
  {% endfor %}
</div>
{% endif %}

{% if organizations_business.all %}
<h3>{% trans "Businesses" %} </h3>
<div class="supporting-orgs">
  {% for org in organizations_business %}
  {% include "blocks/org_logo_link.html" with org=org %}
  {% endfor %}
</div>
{% endif %}


{% if organizations_nonprofit.all %}
<h3>{% trans "Nonprofit organizations" %} </h3>
<div class="supporting-orgs">
  {% for org in organizations_nonprofit %}
  {% include "blocks/org_logo_link.html" with org=org %}
  {% endfor %}
</div>
{% endif %}


{% if organizations_web.all %}
<h3>{% trans "Online resources" %} </h3>
<div class="supporting-orgs">
  {% for org in organizations_web %}
  {% include "blocks/org_logo_link.html" with org=org %}
  {% endfor %}
</div>
{% endif %}


