{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load i18n %}

{% block body_class %}template-searchresults{% endblock %}

{% block content %}

<div class="main-content">



    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <!--  Only show breadcrumbs if the page is not 1st or 2nd level -->
                    {% if result.get_parent.get_parent.get_parent %}
                    <h4><a href="{% pageurl result %}">{{ result.get_parent }}  &nbsp;·&nbsp;  {{ result }}</a></h4>
                    {% else %}
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% endif %}
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        {% trans "No results found." %}
    {% endif %}

      </div>
{% endblock %}
