{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}


{% block content %}

  <div class="news-page">
    <h2>{% trans "Women's Rights News" %}</h2>
      <p>
          {% trans "Share your news with us at:" %}
          <a href="mailto:info@womensdeclaration.org">info@womensdeclaration.org</a>
      </p>

    <div class="news-page__container">

      {% for news in news_items %}
        <div class="news-item">
          <a href="{{ news.article_link }}">
            <img class="news-item__img" src="{{ news.image.url }}">
            <p class="news-item__date">{{ news.timestamp }}</p>
            <p class="news-item__title">{{ news.headline }}</p>
            <p class="news-item__text-preview">
              {{ news.preview_text|truncatewords:300 }}
            </p>
          </a>
          {% if news.cta_title %}
            <a href="{{ news.cta_link }}" class="news-item__cta">
              {% if news.cta_image %}
                <img class="news-item__cta__img" src="{{ news.cta_image.url }}">
              {% endif %}
                <div>
                <p class="news-item__cta__title">{{ news.cta_title }}</p>
                <p class="news-item__cta__subtitle">{{ news.cta_subtitle }}</p>
              </div>
            </a>
          {% endif %}
        </div>
      {% endfor %}

      </div>

      <div class="pagination">
        <span class="step-links">
            {% if news_items.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ news_items.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ news_items.number }} of {{ news_items.paginator.num_pages }}.
            </span>

            {% if news_items.has_next %}
                <a href="?page={{ news_items.next_page_number }}">next</a>
                <a href="?page={{ news_items.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>

    </div>
  </div>

{% endblock %}
