{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- <div class="main-content main-content--signature-page">
  {% if request.GET.page == '1' or not request.GET.page %}
    {% include "blocks/org_list.html" %}
  {% endif %}

  <div class="main-content__divider">
    — <img class="main-content__divider__icon" src="/static/images/female-icon.png"> —
  </div> -->

  <!-- <h2>Individual Signatories</h2> -->

  <!-- <div class="signatures__sort">
    <h3>Sort Signatures by: </h3>
    <form action="" method="POST" class="signatures__sort__checkboxes">
      <input type="checkbox" name="sort-by-country">
      <h3><label for="sort-by-country">Country</label></h3>
      <input type="checkbox" name="sort-by-name">
      <h3><label for="sort-by-name">Name</label></h3>
    </form>
  </div> -->

  <div class="signatures__container">
    {% for signature in signatures %}
      <div class="signature__box">
        <div class="signature__name">
          <p>{{ signature.name }}</p>
        </div>
        {% if signature.organization %}
          <div class="signature__organization">
              <p>{{ signature.organization }}</p>
          </div>
        {% endif %}
        <div class="signature__footer">
          <div class="signature__country">
            <img class="signature__country__flag" src="{{ signature.country.flag }}">
            <p>{{ signature.country.name }}</p>
          </div>
          <div class="signature__date">
            <p>{{ signature.timestamp|date:'d/m/y' }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if signatures.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ signatures.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ signatures.number }} of {{ signatures.paginator.num_pages }}.
        </span>

        {% if signatures.has_next %}
            <a href="?page={{ signatures.next_page_number }}">next</a>
            <a href="?page={{ signatures.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>

{% endblock %}
