 html, body {
  height: 100%;
}

.container {
	margin: 0 auto;
	display: flex;
	height:100%;
	align-items:center;
}

.error-description {
	flex: 1;
	margin: 5px;
	text-align: center;
	vertical-align:center;
}

.logo{
margin:50px 30px 30px 30px;
}