@font-face {
    font-family: 'Vollkorn';
    src: url('/static/fonts/Vollkorn-Medium.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Medium'), local('Vollkorn-Medium'),
        url('/static/fonts/Vollkorn-Medium.woff2') format('woff2'),
        url('/static/fonts/Vollkorn-Medium.woff') format('woff'),
        url('/static/fonts/Vollkorn-Medium.ttf') format('truetype'),
        url('/static/fonts/Vollkorn-Medium.svg#Vollkorn-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSansPro-Regular.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('/static/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('/static/fonts/SourceSansPro-Regular.woff') format('woff'),
        url('/static/fonts/SourceSansPro-Regular.ttf') format('truetype'),
        url('/static/fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  background-color: #FBF6FB;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-width: min-content;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  position:relative;
}

.cc-revoke#cc-revoke-link{
position:absolute;
bottom:5px;
font-size: 16px;
font-family: 'Source Sans Pro','Arial', sans-serif;
color:white;
width:100%;
text-align:center;
display:block;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 6vw;
  line-height: 1.25em;
  font-weight:500;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
}

@media (min-width: 1000px) {
  h1 {
  font-size: 72px;
  }
}

h2 {
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 48px;
  margin: 40px 0 20px 0;
  padding: 0;
}

@media (max-width: 800px) {
  h2 {
    font-size: 32px;
    margin: 20px 0 10px 0;
  }
}

h3 {
  font-family: 'Vollkorn', serif;
   font-size: 32px;
   font-weight:500;
   margin-bottom:5px;
}

@media (max-width: 800px){
 h3 {
   font-size:24px;
      margin-bottom:2px;
   }
}

p {
  margin: 0;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.main-content a {
  color: #990099;
  word-wrap: break-word;
}

.main-content ul{
font-size:19px;
}

.main-content ol{
font-size:19px;
}

.main-content ul li {
line-height:30px;
}

.main-content a:hover {
  color: #E600E6;
}

button {
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  height: 48px;
  text-transform: uppercase;
  width: 250px;
}

ul.messages li{
 margin:20px;
 font-size:larger;
}

ul.messages li.error{
list-style-type: "⚠️ ";
}

ul.messages li.success{
list-style-type: "✅ ";
}

/* xxxxxxxxxxxxxxxxxxx --- HEADER --- xxxxxxxxxxxxxxxxxxx */

.header {
  background-color: #990099;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding-bottom:40px;
}

.header-container {
  max-width: 12000px;
  margin: 0 auto;
}

.header__nav__container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 20px 20px 0;
  position: relative;
}

@media (max-width: 1000px) {
  .header__nav__logo {
    padding-left: 10px;
  }
}

@media (max-width: 1000px) {
  .header__nav__container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.header__nav__logo:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    transition: .3s;
}

.header__nav__logo img {
  width: 60px;
  padding: 0 20px;
}

.header__nav__logo img:hover {
}

.header__nav__logo__initials {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: large;
}

.header__nav__links {
  align-items: center;
  display: flex;
  font-size: 20px;
  list-style: none;
  width: 80%;
}

@media (max-width: 1000px) {
  .header__nav__links {
    width: auto;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .header__nav__links {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .header__nav__links a {
    width: 30%;
  }
}

.header__nav__item {
  padding: 0 10px;
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .header__nav__item {
    padding: 10px;
  }
}

.header__nav__item:hover {
  transition: 0s;
  color: #FFFFFF80;
}

.header__nav__item a:hover {
  transition: 0s;
  color: #FFFFFF80;
}

.header__nav__primary {
  display: flex;
}

@media (max-width: 1000px) {
  .header__nav__primary {
    align-items: center;
  }
}

.header__nav__secondary {
  display: flex;
  justify-content: space-between;
  position: relative;
  white-space: nowrap;
  align-items: center;
  margin-left:8px;
}

.header__nav__secondary a img{
 padding: 0 3px;
 max-height:27px;
}

.header__nav__secondary img {
  max-height: 30px;
  filter: invert(1);
}

.header__nav__secondary img:hover {
opacity: 0.5;
}

.header__nav__secondary .nav_icon {
  padding: 0 5px;
  font-size: 30px;
}

.header__nav__secondary .nav_icon_lang {
  padding: 0 0 0 5px;
  font-size: 30px;
}

.header__nav__secondary .nav_icon_lang:hover {
  transition: 0s;
  color: #FFFFFF80;
}

.header__nav__secondary .nav_icon_lang_text {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  margin: 0 auto;
  vertical-align: 15%;
  min-height: 100vh;
  font-size: 18px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.header__nav__secondary .nav_icon:hover {
  transition: 0s;
  color: #FFFFFF80;
}

#langauage_changer {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header__nav__secondary {
    width: 90%;
    justify-content: flex-end;
  }
}

.header__nav__language__menu {
  position: absolute;
  border-radius: 3px;
  top: 40px;
  right: 10px;
  padding: 10px;
  text-align: right;
  background-color: #fffbff;
  color: #191919;
}

.header__nav__language__menu button {
  color: #191919;
  background: none;
  border: none;
  color: #191919;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-family: sans-serif;
  border:none;
  text-transform:none;
  height:auto;
  width:auto;
 text-transform: capitalize;
}

.header__nav__language__menu button:hover {
  color: #990099;
}

.header__nav__language__menu button:focus {
  outline: none;
}


.header__nav__search{
    display:flex;
    margin: 0 10px;
    padding: 12px 0 8px 0;
    border-bottom: 2px solid rgba(255,255,255,.75);
    min-width: 120px;
}

.header__nav__search #btn-search {
    width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    height: 100%;
    background: 0 0;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.header__nav__search #search-field{
    height: 100%;
    max-width: 160px;
    background: 0 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 2px 2px 2px 8px;
    font-size: 18px;
    color: #fff;
    transition: all .2s ease-out,color .2s ease-out;
}

#search-field::placeholder{
    opacity:0.8;
    color: #fff;
}

#search-field::-ms-input-placeholder {
    opacity:0.8;
    color: #fff;
}


ul.language-selector{
    padding-left: 5px;
    list-style: none;
    margin: 0;
    text-transform: capitalize;
}

.header__title {
  margin: 60px auto;
  max-width: 900px;
  text-align: center;
}

@media (max-width: 1000px) {
  .header__title {
    max-width: 90%;
  }
}

.header__subtitle {
  font-size: 24px;
  margin: 50px auto;
  max-width: 600px;
  text-align: left;
}

@media (max-width: 800px) {
  .header__subtitle {
    text-align: center;
  }
}

.header__subtitle:last-child {
  padding-bottom: 20px;
}

@media (max-width: 800px) {
.header__subtitle {
    max-width: 90%;
  }
}

.header__ctas {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .header__ctas {
    flex-direction: column;
  }
}

.header__ctas__button__wrapper {
  height: auto;
  margin: 0 20px 50px;
}

@media (max-width: 800px) {
  .header__ctas__button__wrapper {
    margin: 0 20px 20px;
  }

  .header__ctas__button__wrapper:last-of-type {
    margin: 0 20px 50px;
  }
}

.header__ctas__button {
  background-color: #E600E6;
}

.header__ctas__button:hover {
  transition: .3s;
  background-color: #490049;
}


/* xxxxxxxxxxxxxxxxxxx --- END HEADER --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- MAIN CONTENT --- xxxxxxxxxxxxxxxxxxx */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  min-height: 60vh;
  text-align: center;
  width: 100%;
}

/* Make images inserted via the rich text editor responsive */
.main-content .block-basic_paragraph img{
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
  .main-content {
    width: 90%;
  }
}

.main-content--signature-page {
    max-width: 1200px;
}

@media (max-width: 800px) {
  .main-content h2 {
    text-align: center;
  }
}

/* ###### DIVIDER ############# */

.main-content__divider {
  align-items: center;
  display: flex;
  font-size: 64px;
  justify-content: center;
  margin: 50px auto 10px;
}

.main-content__divider__icon {
  height: 50px;
  margin: 0 10px;
  width: 50px;
}

/* ###### TEXT ############# */


.main-content__text {
  text-align: left;
}

.main-content__text p {
  font-size: 20px;
  line-height: 32px;
  padding: 20px;
}

/* ###### CTA ############# */


.main-content__cta {
/*  display: flex;
  justify-content: center; */
  margin: 20px;
}

.main-content__cta__button__wrapper {
  height: auto;
  margin: 0 20px 50px;
}

.main-content__cta__button__wrapper:last-of-type {
  margin: 0 20px 50px;
}

.main-content__cta__button {
  background-color: #E600E6;
}

.main-content__cta__button:hover {
  transition: .3s;
  background-color: #490049;
}


/* ###### DECLARATION STATS ############# */


.declaration__stats__header a {
  color: black;
}

.declaration__stats__header a:hover {
  color: #990099;
}

.declaration__stats__number {
  color: #990099;
}

.declaration__stats__subheader {
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 24px;
  color: #424242;
}

/* ###### RESPONSIVE OBJECT ############# */


div .responsive-object {
  padding: 20px !important;
}

div .responsive-object iframe {
  width: 100%;
  height:300px
}

@media (min-width: 600px) {
  div .responsive-object iframe {
    height: 400px;
  }
}

@media (min-width: 850px) {
  div .responsive-object iframe {
    height: 450px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- SIGN THE DECLARATION FORM --- xxxxxxxxxxxxxxxxxxx */

.sign__subtitle {
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.sign__subtitle a {
  color: #990099;
}

.sign__subtitle a:hover {
  transition: 0.3s;
  color: #E600E6;
}

.sign-form .errorlist{
    display:none;
}

.sign-form #form-messages{
    padding: 5px;
    margin-top: 20px;
    color: red;
    font-size: larger;
}

label[for=id_org_international], label[for=id_org_logo], label[for=id_org_homepage], 
label[for=id_org_permission_support], label[for=id_org_type],
label[for=id_org_permission_logo] {
  display:none;
}

#id_org_international, #id_org_logo, #id_org_homepage, #id_org_permission_support, 
#id_org_permission_logo, #id_org_type {
  display:none;
}

.helptext:nth-of-type(9), .helptext:nth-of-type(10), .helptext:nth-of-type(11), .helptext:nth-of-type(12),
.helptext:nth-of-type(13), .helptext:nth-of-type(14) {
  display: none;
}

#id_sign_for_organization:checked ~ label[for=id_org_international], 
#id_sign_for_organization:checked ~ label[for=id_org_type],
#id_sign_for_organization:checked ~ label[for=id_org_logo],
#id_sign_for_organization:checked ~ label[for=id_org_homepage], 
#id_sign_for_organization:checked ~ label[for=id_org_permission_support], 
#id_sign_for_organization:checked ~ label[for=id_org_permission_logo] {
  display:block;
}

#id_sign_for_organization:checked ~  #id_org_international, 
#id_sign_for_organization:checked ~ #id_org_logo,
#id_sign_for_organization:checked ~ #id_org_type,
#id_sign_for_organization:checked ~ #id_org_homepage,
#id_sign_for_organization:checked ~ #id_org_permission_support, 
#id_sign_for_organization:checked ~ #id_org_permission_logo{
  display:block;
}

#id_sign_for_organization:checked ~ .helptext:nth-of-type(9),
#id_sign_for_organization:checked ~ .helptext:nth-of-type(10),
#id_sign_for_organization:checked ~ .helptext:nth-of-type(11),
#id_sign_for_organization:checked ~ .helptext:nth-of-type(12),
#id_sign_for_organization:checked ~ .helptext:nth-of-type(13),
#id_sign_for_organization:checked ~ .helptext:nth-of-type(14)
{
  display:block;
}

@media (min-width: 800px) {

  .block-sign_the_declaration .sign-form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: grid !important;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: repeat(3, 25px auto 56px);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }

   /* Name */
  .block-sign_the_declaration .sign-form label[for=id_name] {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .block-sign_the_declaration .sign-form .helptext:first-of-type {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .block-sign_the_declaration .sign-form #id_name  {
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    width: 602px;
  }

   /* Email */
  .block-sign_the_declaration .sign-form label[for=id_email] {
    grid-column: 1 / 2;
    grid-row: 7 / 7;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 8 / 8;
  }

  .block-sign_the_declaration .sign-form #id_email  {
    grid-column: 1 / 2;
    grid-row: 9 / 9;
  }

   /* Subscribe to emails */
  .block-sign_the_declaration .sign-form label[for=id_subscribe_to_emails] {
    grid-column: 3 / 3;
    grid-row: 9 / 9;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(3) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_subscribe_to_emails  {
    grid-column: 4 / 4;
    grid-row: 9 / 9;
    width: 20px;
  }

   /* Organization */
  .block-sign_the_declaration .sign-form label[for=id_organization] {
    grid-column: 1 / 2;
    grid-row: 10 / 10;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 11 / 11;
  }

  .block-sign_the_declaration .sign-form #id_organization  {
    grid-column: 1 / 2;
    grid-row: 12 / 12;
    margin-bottom: 20px;
  }

   /* Sign for organization */
  .block-sign_the_declaration .sign-form label[for=id_sign_for_organization] {
    grid-column: 3 / 3;
    grid-row: 12 / 12;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(5) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_sign_for_organization  {
    grid-column: 4 / 4;
    grid-row: 12 / 12;
    width: 20px;
  }

   /* Country */
  .block-sign_the_declaration .sign-form label[for=id_country] {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(6) {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
  }

  .block-sign_the_declaration .sign-form #id_country  {
    grid-column: 1 / 2;
    grid-row: 6 / 6;
  }

  /* Province */
  .block-sign_the_declaration .sign-form label[for=id_province] {
    grid-column: 3 / 3;
    grid-row: 4 / 4;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(7) {
    grid-column: 3 / 3;
    grid-row: 5 / 5;
  }

  .block-sign_the_declaration .sign-form #id_province  {
    grid-column: 3 / 4;
    grid-row: 6 / 6;
  }


   /* Organization type */
  label[for=id_org_type] {
     grid-column: 1 / 2;
    grid-row: 13;
    height: 15px;
  }

  #id_org_type {
     grid-column: 1 / 2;
    grid-row: 15;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(10) {
     grid-column: 1 / 2;
    grid-row: 14;
    margin-bottom: 20px;
  }


/* International */
  #id_org_international{
    grid-column: 4;
    grid-row: 14;
    width: 20px;
  }

  label[for=id_org_international] {
    grid-column: 3;
    grid-row: 14;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(9) {
    grid-column: 3 / 4;
    grid-row: 15;
  }


/* Homepage */
  label[for=id_org_homepage] {
    grid-column: 1 / 2;
    grid-row: 16;
    padding-bottom: 0px !important;
  }

  #id_org_homepage {
    grid-column: 1 / 2;
    grid-row: 18;
  }
  .block-sign_the_declaration .sign-form .helptext:nth-of-type(12) {
    grid-column: 1 / 2;
    grid-row: 17;
  }


  /* Permission to mention support */

  #id_org_permission_support{
    grid-column: 4 / 4;
    grid-row: 17;
    width: 20px;
  }

  label[for=id_org_permission_support] {
    grid-column: 3 / 3;
    grid-row: 17;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(13) {
    grid-column: 3 / 4;
    grid-row: 18;
  }

/* Logo */
  label[for=id_org_logo] {
    grid-column: 1 / 2;
    grid-row: 19;
    padding-bottom: 0px !important;
  }

  #id_org_logo {
    grid-column: 1 / 2;
    grid-row: 21;
    border: 0px;
  }


  .block-sign_the_declaration .sign-form .helptext:nth-of-type(11) {
    grid-column: 1 / 2;
    grid-row: 20;
  }

 /* Permission to use the logo */
  label[for=id_org_permission_logo] {
    grid-column: 3 / 3;
    grid-row: 20;
    height: 15px;
  }

  #id_org_permission_logo {
    grid-column: 4 / 4;
    grid-row: 20;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(14) {
    grid-column: 3 / 4;
    grid-row: 21;
    margin-bottom: 20px;
  }



   /* Captcha when signing without org */
 .block-sign_the_declaration .sign-form label[for=id_captcha_1] {
    grid-column: 1 / 2;
    grid-row: 13 / 13;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(8) {
    grid-column: 1 / 2;
    grid-row: 14 / 14;
  }

  .block-sign_the_declaration .sign-form .captcha  {
    grid-column: 1 / 2;
    grid-row: 15 / 15;
  }

  .block-sign_the_declaration .sign-form #id_captcha_1  {
    width: 155px;
    margin-left: 115px;
    grid-column: 1 / 2;
    grid-row: 15 / 15;
  }



   /* Privacy policy confirmation */
 .block-sign_the_declaration .sign-form label[for=id_privacy_policy_confirmation] {
    grid-column: 3/3;
    grid-row: 14;
  }

  .block-sign_the_declaration .sign-form #privacy-policy-helptext {
    grid-column: 3;
    grid-row: 15
  }

  .block-sign_the_declaration .sign-form  #id_privacy_policy_confirmation  {
    grid-column: 4/4;
    grid-row: 14 / 14;
    width:20px;
  }


     /* Error messages */
  .block-sign_the_declaration .sign-form #form-messages  {
    grid-column: 1 / span 3;
    grid-row: 16;
    }

   /* Sign button */
  .block-sign_the_declaration .sign-form .sign-button  {
    grid-column: 1 / span 3;
    grid-row: 17;
  }

  /* Captcha for when organization is checked */
  #id_sign_for_organization:checked ~ label[for=id_captcha_1] {
  grid-column: 1/2;
  grid-row: 22;
  }

  #id_sign_for_organization:checked ~.helptext:nth-of-type(8) {
  grid-column: 1/2;
  grid-row: 23;
  } 

  #id_sign_for_organization:checked ~ .captcha  {
  grid-column: 1/2;
  grid-row: 24;
  }
  #id_sign_for_organization:checked ~ #id_captcha_1  {
  width: 155px;
  margin-left: 115px;
  grid-column: 1/2;
  grid-row: 24;
  }


   /* Privacy policy confirmation when signing for org */
 #id_sign_for_organization:checked ~ label[for=id_privacy_policy_confirmation] {
    grid-column: 3/3;
    grid-row: 23;
  }

   #id_sign_for_organization:checked ~ #privacy-policy-helptext {
    grid-column: 3;
    grid-row: 24;
  }

   #id_sign_for_organization:checked ~ #id_privacy_policy_confirmation  {
    grid-column: 4/4;
    grid-row: 23;
    width:20px;
  }


   /* Error messages when signing as org */
   #id_sign_for_organization:checked ~ #form-messages  {
  grid-column: 1 / span 3;
  grid-row: 25;
    }

 /* Sign button when signing as org */
 #id_sign_for_organization:checked ~.sign-button  {
  grid-column: 1 / span 3;
  grid-row: 26;
  }

}


@media (max-width: 799px) {

  .block-sign_the_declaration .sign-form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 25px auto 56px);
    grid-row-gap: 5px;
    text-align: center;
  }


/* Name */
  .block-sign_the_declaration .sign-form label:first-of-type {
    grid-row: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:first-of-type {
    grid-row: 2;
  }

  .block-sign_the_declaration .sign-form #id_name  {
    grid-row: 3;
  }

/* Country */
  .block-sign_the_declaration .sign-form label:nth-of-type(6) {
    grid-row: 4;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(6) {
    grid-row: 5;
  }

  .block-sign_the_declaration .sign-form #id_country  {
    grid-row: 6;
  }

  /* State/Province */
  .block-sign_the_declaration .sign-form label:nth-of-type(7) {
    grid-row: 7;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(7) {
    grid-row: 8;
  }

  .block-sign_the_declaration .sign-form #id_province  {
    grid-row: 9;
  }

 /* Email */

  .block-sign_the_declaration .sign-form label:nth-of-type(2) {
    grid-row: 10;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(2) {
    grid-row: 11;
  }

  .block-sign_the_declaration .sign-form #id_email  {
    grid-row: 12;
    margin-bottom: 20px;
  }

  /* Subscribe to emails */

  .block-sign_the_declaration .sign-form label:nth-of-type(3) {
    grid-row: 13;
    grid-column: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(3) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_subscribe_to_emails  {
    grid-row: 13;
    grid-column: 1;
    justify-self:end;

    margin-left: 200px;
    width: 20px;
  }

/* Organization name */

  .block-sign_the_declaration .sign-form label:nth-of-type(4) {
    grid-row: 14;
    grid-column: 1;

  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(4) {
    grid-row: 15;
        grid-column: 1;

  }

  .block-sign_the_declaration .sign-form #id_organization  {
    grid-row: 16;
        grid-column: 1;

    margin-bottom: 20px;
  }

/* Sign as organization? */

  .block-sign_the_declaration .sign-form label:nth-of-type(5) {
    grid-row: 17;
    grid-column: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(5) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_sign_for_organization  {
    grid-row: 17;
    justify-self:end;
    grid-column: 1;
    margin-left: 220px;
    width: 20px;
  }

  label[for=id_sign_for_organization] {
    height: 25px;
  }

  /* Organization type */

  .block-sign_the_declaration .sign-form label:nth-of-type(10) {
    grid-row: 18;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(10) {
    grid-row: 19;
  }

  .block-sign_the_declaration .sign-form #id_org_type  {
    grid-row: 20;
    margin-bottom: 20px;
  }

/* Org international */
  #id_org_international{
    grid-column: 1;
    grid-row: 21;
    margin-left: 220px;
    justify-self:end;
    width: 20px;
  }

  label[for=id_org_international] {
    grid-column: 1 / 1;
    grid-row: 21;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(9) {
    grid-column: 1 / 1;
    grid-row: 22;
  }

/* Org homepage */

  label[for=id_org_homepage] {
    grid-column: 1;
    grid-row: 23;
    padding-bottom: 0px !important;
  }

  #id_org_homepage {
    grid-column: 1;
    grid-row: 25;
    margin-bottom: 20px;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(12) {
    grid-column: 1 / 1;
    grid-row: 24;
  }

  /* Permission to mention support */

  #id_org_permission_support{
    grid-column: 1;
    grid-row: 26;
    margin-left: 220px;
    justify-self:end;
    width: 20px;
  }

  label[for=id_org_permission_support] {
    grid-column: 1;
    grid-row: 26;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(13) {
    grid-column: 1 / 1;
    grid-row: 27;
    margin-bottom: 20px;
  }

  /* Logo */

  label[for=id_org_logo] {
    grid-column: 1;
    grid-row: 28;
    padding-bottom: 0px !important;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(11) {
    grid-column: 1 / 1;
    grid-row: 29;
  }

  #id_org_logo {
    grid-column: 1;
    grid-row: 30;
    margin-bottom: 20px;
  }

  /* Permission to replicate the logo */

  label[for=id_org_permission_logo] {
    grid-column: 1;
    grid-row: 31;
  }

  #id_org_permission_logo {
    grid-column: 1;
    grid-row: 31;
    margin-left: 220px;
    justify-self:end;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(14) {
    grid-column: 1 / 1;
    grid-row: 32;
    margin-bottom: 20px;
  }

    /* Captcha */
 .block-sign_the_declaration .sign-form label:nth-of-type(8) {
    margin-top: 20px;
    grid-column: 1 / 1;
    grid-row: 20
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(8) {
    grid-column: 1 / 1;
    grid-row: 21;
  }

  .block-sign_the_declaration .sign-form .captcha  {
    grid-column: 1 / 1;
    grid-row: 22;
    min-height:50px;
  }

  .block-sign_the_declaration .sign-form #id_captcha_1  {
    grid-column: 1 / 1;
    grid-row: 23;
  }

     /* Privacy policy confirmation  */
label[for=id_privacy_policy_confirmation] {
    grid-column: 1;
    grid-row: 18;
  }

 #privacy-policy-helptext {
    grid-column: 1;
    grid-row: 19;
  }

  #id_privacy_policy_confirmation  {
    grid-column: 1;
    grid-row: 18;
    width:20px;
    margin-left: 220px;
    justify-self:end;
  }

       /* Error messages */
  .block-sign_the_declaration .sign-form #form-messages  {
    grid-row: 24;
    }

   /* Sign button */
  .block-sign_the_declaration .sign-form .sign-button  {
    grid-row: 25;
    }



    /* Privacy policy confirmation - when signing as org */
    #id_sign_for_organization:checked ~ label[for=id_privacy_policy_confirmation] {
    grid-column: 1;
    grid-row: 33;
    }

    #id_sign_for_organization:checked ~ #privacy-policy-helptext {
    grid-column: 1;
    grid-row: 34;
    }

    #id_sign_for_organization:checked ~ #id_privacy_policy_confirmation  {
    grid-column: 1;
    grid-row: 33;
    width:20px;
    margin-left: 220px;
    justify-self:end;
    }


       /* Captcha for when organization is checked */
    #id_sign_for_organization:checked ~  label:nth-of-type(8) {
    margin-top: 20px;
    grid-column: 1 / 1;
    grid-row: 35;
  }

  #id_sign_for_organization:checked ~  .helptext:nth-of-type(8) {
    grid-column: 1 / 1;
    grid-row: 36;
  }

  #id_sign_for_organization:checked ~  .captcha  {
    grid-column: 1 / 1;
    grid-row: 37;
    min-height:50px;
  }

  #id_sign_for_organization:checked ~  #id_captcha_1  {
    grid-column: 1 / 1;
    grid-row: 38;
  }

     /* Error messages when signing as org */
     #id_sign_for_organization:checked ~  #form-messages  {
    grid-row: 39;
    }

  /* Sign button when signing as org*/
  #id_sign_for_organization:checked ~  .sign-button  {
    grid-row: 40;
    }

}




.block-sign_the_declaration form label {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  text-align: left;
}

.block-sign_the_declaration form .helptext {
  color: #424242;
  text-align: left;
  max-width: 270px;
}

.block-sign_the_declaration form input {
  border: 2px solid #424242;
  border-radius: 4px;
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 22px;
  height: 32px;
  width: 270px;
}

.block-sign_the_declaration form select {
  border: 2px solid #424242;
  border-radius: 4px;
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 22px;
  height: 36px;
  width: 270px;
}

.block-sign_the_declaration form .sign-form__submit {
  background-color: #990099;
  margin: 20px 0;
}

.block-sign_the_declaration form .sign-form__submit:hover {
  transition: 0.3s;
  background-color: #E600E6;
}

/* xxxxxxxxxxxxxxxxxxx --- END SIGN THE DEC FORM --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- SIGNATURES --- xxxxxxxxxxxxxxxxxxx */

.signatures__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .signatures__container {
    padding: 0;
    width: 100%;
  }
}


.signatures__sort {
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.signatures__sort h3 {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 800px) {
  .signatures__sort {
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.signatures__sort__checkboxes input {
  margin-left: 20px;
}

.signatures__sort__checkboxes h3 {
  display: inline;
  font-weight: normal;
}

.signature__box {
  font-size: 16px;
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #c8c8c8;
  /* border-left: 16px solid #c8c8c8; */
  border-radius: 4px;
  box-shadow: 2px 2px #A2A2A240;
  margin: 20px;
}


@media (max-width: 800px) {
  .signature__box {
    width: 90%;
  }
}

.signature__box p {
  padding: 10px 20px;
}

.signature__box .signature__name p {
  padding-bottom: 0;
}

.signature__box .signature__organization p {
  padding-bottom: 0;
}

.signature__footer {
  margin-top: 10px;
  display: flex;
  border-top: 1px solid #c8c8c8;
  justify-content: space-between;
  overflow: hidden;
}

.signature__name {
  color: #990099;
  font-size: 24px;
  overflow: hidden;
}

.signature__organization {
  font-size: 18px;
  overflow: hidden;
}

.signature__country {
  color: #A2A2A2;
  bottom: 0px;
  height: 38px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signature__country p {
  padding-left: 10px;
}

.signature__country__flag {
  width: 16px;
  height: 16px;
  margin: 10px;
  margin-right: 0;
  border-radius: 100%;
}

.signature__date {
  color: #A2A2A2;
  font-size: 14px;
}

/* xxxxxxxxxxxxxxxxxxx --- END SIGNATURES --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

.supporting-orgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px 0 0 -40px;
}

@media (max-width: 800px) {
  .supporting-orgs {
    justify-content: center;
  }
}

.supporting-org {
  font-size: 16px;
  margin: 20px 0 0 20px;
  padding: 20px;
}

.supporting-org__logo {
  border-radius: 100%;
  width: 150px;
}

.supporting-org__icon {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 150px;
}

.supporting-org p {
  margin: 0;
}

.supporting-org__name {
  font-size: 18px;
  max-width: 200px;
}

.supporting-org__country {
  color: #A2A2A2;
  bottom: 0px;
  height: 38px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.supporting-org__country__flag {
  width: 16px;
  height: 16px;
  margin: 10px;
  border-radius: 100%;
}

/* xxxxxxxxxxxxxxxxxxx --- END SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- STANDARD PAGE SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

@media (min-width: 1100px) {
  .block-org_list {
    width: 1000px;
    margin-left: -100px;
  }
}

@media (min-width: 1300px) {
  .block-org_list {
    width: 1200px;
    margin-left: -200px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- END STANDARD PAGE SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- STANDARD PAGE FEATURED ORGS --- xxxxxxxxxxxxxxxxxxx */

@media (min-width: 1100px) {
  .block-featured_organization_block {
    width: 1000px;
    margin-left: -100px;
  }
}

@media (min-width: 1300px) {
  .block-featured_organization_block {
    width: 1200px;
    margin-left: -200px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- END STANDARD PAGE FEATURED ORGS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- COUNTRY PAGE --- xxxxxxxxxxxxxxxxxxx */

.country-page__header {
  margin-top: 60px;
}

.country-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 auto;
}

@media(min-width:675px){
.country-page__countries-list{
column-count:2;
}
}

#country-page__world-map{
width:90%;
margin: 20px 0;
height:40vh;
}

.country-page__list-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.country-page__list-item__flag {
  height: 20px;
  width: 20px;
  border-radius: 100%;

  margin-right: 10px;
  margin-bottom: -5px;
}

.country-page__list-item p {
  font-size: 20px;

}

/* xxxxxxxxxxxxxxxxxxx --- END COUNTRY PAGE --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- PAGINATION --- xxxxxxxxxxxxxxxxxxx */

.pagination {
  font-family: 'Vollkorn', serif;
  font-size: 24px;
  font-weight:500;
  color: gray;
  margin-bottom: 40px;
  text-align:center;
}

.pagination a {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 3px;
  background-color: #A2A2A2;
}

.pagination a:hover {
  transition: 0.3s;
  background-color: #990099;
}

@media(max-width:675px){
  .step-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:675px){
  .pagination {
    font-family: 'Vollkorn', serif;
    font-weight:500;
    font-size: 14px;
    color: gray;
    margin-bottom: 40px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- END PAGINATION --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- PARAGRAPHS --- xxxxxxxxxxxxxxxxxxx */

.block-paragraph_with_image h2 {
  text-align: left;
}

.about__author {
  display: flex;
  width: 100%;
  margin: 50px 0;
}

@media(max-width: 550px) {
  .about__author {
    flex-direction: column;
    align-items: center;
  }
}

.about__author h3 {
  font-size:24px
}

.about__author__text {
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
}

@media(max-width: 550px) {
  .about__author__text {
    text-align: center;
    padding-left: 0;
  }
}

@media(max-width: 1000px) {
  .about__author__text {
    width: 60%;
    max-width: 600px;
    font-size: 18px;
  }
}

@media(max-width: 600px) {
  .about__author__text {
    width: 90%;
  }
}

.about__author__text h4 {
  color: #990099;
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 24px;
}

.about__author__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 30px 20px;
}

@media(max-width: 550px) {
     .about__author__img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      padding: 10px 20px;
    }
}

/* xxxxxxxxxxxxxxxxxxx --- FEATURED SIGNATORIES --- xxxxxxxxxxxxxxxxxxx */


.about__signatory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

.about__signatory__text {
  text-align: left;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 18px;
  align-content: center;
}

.signatory-image {
  align-content: center;
}

.about__signatory__text h4 {
  color: #990099;
  font-family: 'Vollkorn', serif;
  font-weight:500;
  font-size: 24px;
  margin: 18px 0;
}

.featured__signature__image {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.featured__signature__box {
  font-size: 16px;
  width: 100%;
  margin: 10px;
  background-color: #FFFFFF;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  box-shadow: 2px 2px #A2A2A240;
  padding: 30px 40px;
  display: flex;
}

.about__signatory__text blockquote{
  font-style:italic;
  padding:1em 1em 1em 10px;
  position:relative;
  margin: 10px;
}

.about__signatory__text blockquote::before{
font-family: Arial;
  content: "\201C";
  font-style:normal;
  color: #CCC;
  font-size: 5.5em;
  left: -30px;
  top: -2px;
  position: absolute;
}


@media(max-width: 550px) {
  .featured__signature__box {
  font-size: 16px;
  width: 350px;
  flex-direction:column;
    padding: 40px 30px;
  }
}


/* xxxxxxxxxxxxxxxxxxx --- NEWS --- xxxxxxxxxxxxxxxxxxx */

.news-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.news-page a {
  color: #990099;
}

.news-page h2, .news-page p {
  text-align: center;
}

.news-page a:hover {
  transition: 0.3s;
  color: #E600E6;
}

.news-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.news-item {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px #A2A2A240;
  margin: 40px 20px;
  border-radius: 3px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item__img {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.news-item p {
  margin: 10px 20px;
}

.news-item p.news-item__date {
  margin: 0px 30px 20px;
}

.news-item .news-item__title {
  color: #990099;
  font-size: 20px;
  font-family: 'Vollkorn', serif;
  font-weight:500;
}


.news-item__text-preview {
    font-size: 16px;
    max-height: 12em;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.news-item__text-preview:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.news-item__text-preview:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.news-item .news-item__cta {
  width: 100%;
  display: flex;
  border-top: 1px solid #c8c8c8;
  margin-top: 10px;
  align-self: flex-end;
}

.news-item .news-item__cta .news-item__cta__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 10px;
}

.news-item .news-item__cta .news-item__cta__title {
  font-weight: bold;
  font-size: 14px;
}

.news-item__date {
  color: #A2A2A2;
}

.news-item a p {
  color: #000000;
}

/* xxxxxxxxxxxxxxxxxxx --- END NEWS --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- EVENTS --- xxxxxxxxxxxxxxxxxxx */

.event-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.event-page a {
  color: #990099;
}

.event-page a:hover {
  transition: 0.3s;
  color: #E600E6;
}

.event-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.event {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px #A2A2A240;
  margin: 40px 20px;
  border-radius: 3px;
  text-align: left;
}

.event__img {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.event p {
  margin: 10px 20px;
}

.event__text-preview {
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: #000000;
}

.event .event__title {
  color: #990099;
  font-size: 20px;
  font-family: 'Vollkorn', serif;
  font-weight:500;
}

.event__date {
  color: #A2A2A2;
}

.event__location {
  color: #A2A2A2;
}

.event__button {
  width: 100%;
  background-color: #990099;
  border-radius: 0;
  margin-top: 10px;
}

.event__button:hover {
  background-color: #E600E6;
}

.event__no-event-text {
  font-size: 24px;
  padding: 10px;
}

.event-page .gfm-media-widget {
  padding: 20px;
}

/* xxxxxxxxxxxxxxxxxxx --- END EVENTS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- SOCIAL MEDIA ICONS --- xxxxxxxxxxxxxxxxxxx */

@media(max-width:700px) {
  [class^="block-"] > iframe {
    width: 90%;
    height: 2250px;
  }
}

@media(max-width:600px) {
.social-media-icons {
    align-items: center;
    flex-wrap: wrap;
 }

.social-media-icons a,
.social-media-icons img
{
   flex-basis: 17%; /*grow | shrink | basis */
}

.social-media-icons span{
   flex: 1 1 90%; /*grow | shrink | basis */
}
}

.social-media-icons {
  color: black;
  font-size: 40px;
  vertical-align:text-bottom;
  display: flex;
  justify-content:center;
  margin: 50px auto 10px;
}

.social-media-icons img{
  max-height: 40px;
  display:inline-block;
  vertical-align:text-bottom;

}

.social-media-icons a {
  color: black;
  font-size: 40px;
  margin: 0 8px;
}

.social-media-icons i {
 vertical-align:text-bottom;
}

/* xxxxxxxxxxxxxxxxxxx --- END SOCIAL MEDIA ICONS --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- FOOTER --- xxxxxxxxxxxxxxxxxxx */

.footer {
  background-color: #009900;
  color: #FFFFFF;
  min-height: 50px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.footer h4{
    font-family:Vollkorn, serif;
    font-weight:normal;
}

.footer a {
  text-decoration: underline;
  color: #FFFFFF;
}

@media(max-width:700px) {
  .footer p {
    max-width: 80%;
  }
}

.footer__container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

@media (max-width: 1000px) {
  .footer__container {
    max-width: 90%;
    flex-direction: column;
  }
}

.footer__column {
  margin: 20px 0;
  min-width: 20%;
}

@media (max-width: 700px) {
  .footer__column {
    margin: 20px;
    width: 100%;
  }
}

.footer__column--about {
  width: 40%;
}

.footer__column--about h4{
  margin: 1em 0 0.5em 0;
}

@media (max-width: 700px) {
  .footer__column--about {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .footer__column--signatures {
    width: 90%;
  }
}

.footer__links {
  padding: 0;
}

.footer__links a:hover {
  color: #FFFFFF80;
}

.footer__links a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .footer__column--links {
    width: 90%;
  }
}

.footer__links li {
  list-style: none;
  padding: 10px 0;
}

.footer__links li:hover {
  opacity:0.8;
}

.footer__links img {
  max-width: 16px;
  padding-right: 3px;
  vertical-align: sub;
  filter: invert(1);
}

.footer__logo {
  width: 100px;
}

.footer .fa {
  padding-right: 5px;
}

/* xxxxxxxxxxxxxxxxxxx --- END FOOTER --- xxxxxxxxxxxxxxxxxxx */

